<%= form_for(@person, class: "form-inline") do |f| %>
  <div class="form-group">
    Firstname: <%= f.text_field :firstname, required: true, class: "form-control" %><br />
    Lastname : <%= f.text_field :lastname, required: true, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>