<h1 class="mt-3">Add a new person</h1>

<%= link_to "List", persons_path, class: "btn btn-warning mb-3" %>

<% if @person.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul class="m-0">
      <% @person.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-3">
    <%= render partial: "form" %>
  </div>
</div>
